/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin-left: 0;
    margin-top: 0;
    background-color: #1a1a1a;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

input:focus
{
    outline: none;
    border-radius: 25px;
}

#spacer-20px
{
    padding-right: 20px;
}

#padding-top-20px
{
    padding-top: 20px;
}

#padding-10px
{
    padding: 10px;
}

#center-h
{
    margin-left: auto;
    margin-right: auto;
}

header
{
   background-color: #000;
   padding: 5px;
   box-shadow: 0px, 150px, 1px, black; 
    display: flex;
    margin-right: 0px;
}

header a
{
    color: red;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border-radius: 25px;
    transition: all, .2s;
}

header a:hover
{
    color: red;
    background-color: #1a1a1a;
}

header input
{
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 45%;
    margin-top: 15px;
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
}

header img
{
    max-width: 10em;
    min-width: 5em;
}


header .principal-nav
{
    min-width: fit-content;
    display: flex;
    list-style: none;
}

#display-menu > .menu
{
    display: block;
}

.menu
{
    /* visibility: hidden; */
    display: none;
    z-index: 100;
    background-color: black;
    position: absolute;
    color: red;
    top: 70px;
    left: 10%;
    padding: 5px;
    width: 500px;
    height: 200px;
}

.menu ul
{
    display: block;
}

.menu ul li
{
    display: inline-block;
    padding: 10px;
}

.menu ul li a
{
    background-color: black;
    border-radius: 25px;
    transition: all, .2s;
}

.menu ul li a:hover
{
    background-color: #1a1a1a;
}

.main-cover .about
{
    color: white;
}

.container-fluid
{
    color: white;   
    width: 100%;
    display: block;
    margin: 0px auto;
    margin-bottom: 200px;
}


.container-fluid ul
{
    position: relative;
    display: inline-flex;
    list-style: none;
}

.container-fluid .movies_list
{
    display: block;
    width: 90%;
    margin: 0px auto;
}

.card
{
    transition: all, .2s;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.card:hover
{
    transform: scale(1.05, 1.05);
}

.movies
{
    display: block;
    width: 100%;
    margin-left: -20px;
    left: 0px;
}

.movies h2
{
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
}

.movies ul
{
    display: block;
    height: 250px;

}

.btn:hover
{
    /* z-index: 99; */
    /* cursor: pointer; */
}

.movies .movies_display_ul li
{
    padding: 5px;
    display: inline-block;
    height: 250px;
    object-fit: cover;
    margin-bottom: 100px;
}

.movies ul li .card #cover
{
    transform: scale(2, 2);
}

footer
{
    background-color: #000;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
}